# Source
src/

# Config
.eslintrc.js
.prettierrc
.editorconfig
tsconfig.json
.babelrc

# Development
.git/
.gitignore
.github/
node_modules/
coverage/

# Assets
assets/

# Misc
.DS_Store
*.log
.env
.env.* 